<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<link rel="stylesheet" href="public/css/home.css">
	<%- include('common/head'); %>
	<title>自定义微信小程序二维码生成</title>
</head>

<body>
	<div id="vue_root" class="qr-rooe">
		<h1 class=qr-title>小程序来源二维码生成</h1>
		<el-form :model="form" :rules="rules" ref="ruleForm" inline class="qr-form" label-width="140px">
			<h3>#小程序密钥</h3>
			<!-- <p class="qr-sub_title">【<span style="color:red;">默认是桔伙瓣小程序</span>】其他小程序请登录小程序后台获取</p> -->
			<el-card>
				<el-form-item label="小程序appId" prop="appId">
					<el-input v-model="form.appId" type="password" placeholder="请输入18位appid"></el-input>
				</el-form-item>
				<el-form-item label="小程序appSecret" prop="appSecret">
					<el-input v-model="form.appSecret" type="password" placeholder="请输入32位appSecret"></el-input>
				</el-form-item>
				<el-form-item label="页面路径" prop="pagePath">
					<el-input v-model="form.pagePath" type="text" placeholder="默认为：pages/index/index"></el-input>
				</el-form-item>
			</el-card>

			<h3>#二维码生成标识</h3>
			<el-card>
				<el-form-item label="二维码标识code" prop="sourceCode">
					<el-input v-model="form.sourceCode" placeholder="比如：1001"></el-input>
				</el-form-item>
				<el-form-item label="二维码标识描述" prop="source">
					<el-input v-model="form.source" placeholder="比如: 百度渠道二维码"></el-input>
				</el-form-item>
				<div class="btn">
					<p>共生成的码数量限制为 100,000，请谨慎调用。</p>
					<el-button :disabled="bttnjur" type="primary" @click="dowmLoadImg">生成二维码</el-button>
				</div>
			</el-card>
		</el-form>
		<p class="by">Power by CIC Developer Group</p>
	</div>
</body>
<%-include("./common/require.ejs",{r_data:[
  "/public/js/home.js"
]})%>

</html>